:root{
  --mainColor: #1f1f1f;
  --secondaryColor: #f9cd62;
  --secondatyText: #efefef;
  --rojo: #ff6b57;
  --verde: #9ba460;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 20px;
  font-family: "Raleway";
  color: var(--secondatyText);
  padding: 50px;
  box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.75);
  border-radius: 50px;
}
body{
  overflow-x: hidden;
}
.head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
button{
  cursor: pointer;
}